body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow';
}

#menuHolder {
    background-color: #001CB5;
    color: white;
    overflow: auto;
}

#menu {
    float: left;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    padding: 0;
}
.menu-item {
    line-height: 30px;
    margin: 0;
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#logoutButton {
    float: right;
    line-height: 30px;
    margin: 0;
    padding: 10px;
}

main {
    text-align: center;
    background-color: #DDE2FF;
    margin: 0;
    overflow: auto;
}

.welcome-title {
    font-size: 40px;
    color: #001CB5;
    margin: 50px 0 10px;
}

.big-title {
    font-size: 80px;
    color: #001065;
    margin: 10px;
    text-shadow: 3px 3px 3px #999;
}
